<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">


<h1>Editing Book</h1>
<%= form_with model: @book, local:true do |f| %>
   <div class="form-group">
<h6>Title</h6>
<%= f.text_field :title, class: "form-control" %><br>
</div>
<div class="form-group">
<h6>Opinion</h6>
<%= f.text_area :body, class: "form-control" %><br>
</div>
<%= f.submit 'Update Book', class:"btn btn-success" %>
<br>
<%= link_to "Show", book_path(@book.id) %>|<%= link_to "Back", "/books" %>

<% end %>

</div>
</div>
</div>
